# Build folders
**/bin/
**/obj/


# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# ASP.NET publish folders
publish/
*.Publish.xml

# NuGet packages
packages/
*.nupkg
*.snupkg

# Logs
*.log

# Other
.DS_Store
Thumbs.db
